@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #010001;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f7feb5;
  height: 10vh;
}
/* TRACK */
::-webkit-scrollbar-track {
  background-color: #010001;
}

section {
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: all;
  background-color: transparent;
}

.experience {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.mobile-scroll {
  display: none;
}

.mainsections {
  height: 300vh;
}

/* TEXTS */

.headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 3.75vw;
  line-height: 100%;
}

.medium-headline {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 3vw;
  line-height: 100%;
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.15vw;
  line-height: 135%;
}

.small-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 135%;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 150%;
  color: #f1f7feb5;
}

.button-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.85vw;
  line-height: 100%;
}

.black {
  color: #111111;
}

.white {
  color: #fffefe;
}

.white-shade {
  color: #fcfdffef;
}

.white-gradient {
  background: linear-gradient(to right bottom, #fff 30%, hsla(0, 0%, 100%, .5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}

.grey {
  color: #f1f7feb5;
}

/* SMOOTH SCROLLING */


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* NAVIGATION BAR */
.navigation {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10%;
  align-items: center;
  bottom: 0;
  background-color: transparent;
  top: 0;
  position: fixed;
  z-index: 10;
  border-bottom: 1px transparent solid;
  transition: height 0.3s ease, backdrop-filter 0.3s ease;
}

.navigation.scrolled {
  height: 8vh; /* Adjust to your desired height */
  border-bottom: 1px #fffefe35 solid;
  backdrop-filter: blur(10px);
}

.logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1vw;
  line-height: 125%;
  color: #fffefe;
}

.navigation-center {
  display: flex;
  gap: 1.5vw;
}

.navigation-bar-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 125%;
  cursor: pointer;
  z-index: 20;
  position: relative;
  transition: 0.25s ease;
}

.navigation-bar-text:hover {
  color: #fffefe;
}

.navigation-bar-button {
  z-index: 20;
}

/* SECTION KODU */

.background-element-kodu {
  width: 30vh;
  height: 160vh;
  border-radius: 100%;
  background-color: #fffefe;
  filter: blur(100px);
  opacity: 0.17;
  position: absolute;
  left: 170vh;
  margin-top: -70vh;
  z-index: 0;
  transform: rotate(40deg);
  z-index: 1;
}

.background-element-grid {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 50vh;
  background-image: 
  linear-gradient(to right, rgba(255, 254, 254, 0.025) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255, 254, 254, 0.025) 1px, transparent 1px);
  background-size: 50px 50px; /* Adjust this value to change the grid size */
  z-index: 1;
}

.kodu {
  background-color: #010001;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}


.kodu-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.kodu-content-left, .kodu-content-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kodu-content-right {
  cursor: pointer;
}


.kodu-texts {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}

.kodu-text-top {
  margin-top: 0%;
  margin-bottom: 4%;
}

.kodu-text-center {
  margin-top: 0%;
  margin-bottom: 0%;
  line-height: 110%;
}

.kodu-text-bottom {
  margin-top: 4%;
  margin-bottom: 0%;
  width: 75%;
}

.kodu-buttons {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
}

.kodu-content-buttons {
  display: flex;
  gap: 1vw;
}

.colorful-button {
  padding: 0 1vw;
  height: 2vw;
  width: fit-content;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 150px;
  background: linear-gradient(to right,#7a5a8d, #543e62, #c8aed8, #d6d6e6,#7a5a8d );
  cursor: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorful-button::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 150px;
  background-color: #010001;
  z-index: -1;
}

.solid-button {
  height: 2.5vw;
  width: fit-content;
  background-color:#fffefe;
  border-radius: 150px;
  padding: 0 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  gap: 0.25vw;
}

.fa-chevron-right {
  font-size: 0.75vw;
  transition: 0.5s ease;
}

.transparent-button {
  height: 2.5vw;
  width: fit-content;
  background-color:#fffefe10;
  border-radius: 150px;
  padding: 0 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: #fffefe;
  gap: 0.25vw;
}

.transparent-button:hover .fa-location-arrow {
  transform: rotate(45deg);
}

/* SECTION EELISED */

.eelised {
  background-color: #010001;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

/* SECTION PROJEKTID */

.projektid {
  background-color: #010001;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

.projektid-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projektid-containers {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projektid-row {
  width: 100%;
  display: flex;
}

.projekt-box {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.fa-solid {
  color: #fcfdffef;
}

.projektid-text-center {
  margin-top: 0;
  margin-bottom: 0;
}

.projektid-text-bottom {
  margin-top: 0;
  margin-bottom: 0;
}

/* SECTION MEIST */

.meist {
  background-color: #010001;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

/* SECTION HINNAKIRI */

.hinnakiri {
  background-color: #010001;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

/* SECTION SIX */

.six {
  background-color: #010001;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

/* SEVEN */

.küsimused {
  background-color: #010001;
  height: auto;
  position: relative;
  padding: 0 15%;
}

.küsimused-content {
  width: 100%;
  height: auto;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  margin-bottom: 20vh;
}

.küsimused-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.küsimused-row-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.accordion-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.6s ease;
  border-radius: 35px;
  /* border: 1px #fffefe25 solid; */
}

.accordion-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accordion-icon {
  background-color: #fffefe10;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fffefe;
}

.accordion:hover {
  background-color: #fffefe10;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.small-text-accordion {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 150%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2vw;
  color: #f1f7feb5;
}

.rotate {
  transform: rotate(180deg);
}

.küsimused-row-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.küsimused-socials {
  width: 80%;
  height: auto;
  background-color: #111111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  border-radius: 35px;
}

.küsimused-socials-icons {
  width: auto;
  height: auto;
  display: flex;
  gap: 1vw;
}

.fa-brands {
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
  transition: 0.25s ease-in;
}

.fa-brands:hover {
  color: #787f87;
}

.küsimused-get-started {
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 35px;
  background-color: #fffefe10;
  margin-top: 7.5%;
}

.ready-to-get-started {
  width: 75%;
  text-align: center;
  line-height: 125%;
}

.ready-to-get-started-description {
  text-align: center;
  width: 75%;
}

.broneeri-kõne-seven {
  width: 75%;
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  background-color: #bb87fd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.broneeri-kõne-seven:hover {
  background-color: #bbb3dc;
}

/* LOADING SCREEN DESKTOP */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 12;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #010001;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-screen__title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 5vw;
  text-transform: uppercase;
  margin: 0;
  color: #fffefe;
}

.progress__container {
  width: 100%;
  height: 0.15vw;
  background-color: #fffefe25;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: #fffefe;
  transition: width 0.5s ease-in-out;
}


/* MOBILE STYLING */

@media (max-width: 768px) {

  .mobile-scroll {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: transparent;
  }

}




